@import "tailwindcss";

@theme {
    --font-display: "Poppins", "Montserrat", sans-serif;

    --color-primary: #2F80ED;
    --color-secondary: #56CCF2;
    --color-dark: #1F2937;
    --color-gray: #6B7280;
    --color-light: #F3F4F6;

    --container-padding: 1rem;
    --container-padding-sm: 1.5rem;
    --container-padding-md: 2rem;
    --container-padding-lg: 3rem;
    --container-padding-xl: 4rem;
    --container-padding-2xl: 5rem;
}


@layer utilities {
    .container {
        padding-left: var(--container-padding);
        padding-right: var(--container-padding);
        margin-left: auto;
        margin-right: auto;
    }
    button {
        cursor: pointer;
    }
}


